AI_Lead_Research_Agent.json
{
  "name": "AI Lead Research Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [448, 176],
      "id": "c9839ebf-d7a5-4255-abce-1571d75d33a9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "AI Lead Research Agent",
        "formDescription": "Enter a company name to generate a full lead report\n",
        "formFields": {
          "values": [
            {
              "fieldLabel": "company"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [0, 0],
      "id": "550c2214-57a6-4dcb-805b-9dfa76771339",
      "name": "On form submission",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "YOUR_SERPER_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=q",
              "value": "={{ $('On form submission').item.json.company }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [208, 0],
      "id": "bec6bd8f-0796-4eda-a1df-4d4f89808633",
      "name": "Web Research"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "AI Lead Agent",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $('On form submission').item.json.company }}",
            "Overview": "={{ $json.output }}",
            "Lead Score": "={{ $json.output }}",
            "Email": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "Company", "displayName": "Company", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Overview", "displayName": "Overview", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Lead Score", "displayName": "Lead Score", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Email", "displayName": "Email", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [816, 0],
      "id": "97e6b68f-808e-4287-ab2b-f1801671c360",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert B2B sales research agent.\n\nYour job is to analyze the company \"{{ $('On form submission').item.json.company }}\" and produce a full lead report.\n\nYou have already retrieved the following search results:\n{{ $json.organic[0].snippet }}\n{{ $json.organic[1].snippet }}\n{{ $json.organic[2].snippet }}\n\nUsing this information, you must:\n\n1. Decide if you have enough information. If not, search for more.\n2. Write a company overview (2-3 sentences)\n3. Score the lead from 1-10 with clear reasoning\n4. Write a personalized cold outreach email\n\nThink step by step before writing your final output.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [464, -96],
      "id": "c00f2e6d-cffc-40d5-8357-bc3b72c773f7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "toolDescription": "Search Google for information about a company using Serper API",
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "YOUR_SERPER_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $fromAI('query', 'the search query') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [624, 112],
      "id": "80646854-d461-4408-ae5d-9d13df911deb",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{"node": "AI Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "On form submission": {
      "main": [[{"node": "Web Research", "type": "main", "index": 0}]]
    },
    "Web Research": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 0}]]
    },
    "AI Agent": {
      "main": [[{"node": "Append row in sheet", "type": "main", "index": 0}]]
    },
    "HTTP Request": {
      "ai_tool": [[{"node": "AI Agent", "type": "ai_tool", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
